
   @import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);

   html {
     font-family: 'Montserrat', Arial, sans-serif;
     -ms-text-size-adjust: 100%;
     -webkit-text-size-adjust: 100%;
   }
   
   body {
    margin: 0;
    background: linear-gradient(45deg, #49a09d, #5f2c82);
    font-family: sans-serif;
    font-weight: 100;
  }
   
   button {
     overflow: visible;
   }
   
   button, select {
     text-transform: none;
   }
   
   button, input, select, textarea {
     color: #ffffff;
     font: inherit;
     margin: 0;
   }
   
   input {
     line-height: normal;
   }
   
   textarea {
     overflow: auto;
   }
   
   #container {
     border: solid 3px #ffffff;
     max-width: 768px;
     margin: 60px auto;
     position: relative;
   }
   
   form {
     padding: 37.5px;
     margin: 50px 0;
   }
   
   h1 {
     color: #ffffff;
     font-size: 32px;
     font-weight: 700;
     letter-spacing: 7px;
     text-align: center;
     text-transform: uppercase;
   }
   
   .underline {
     border-bottom: solid 2px #ffffff;
     margin: -0.512em auto;
     width: 80px;
   }
   
   .icon_wrapper {
    position: relative;
    left: 50%;
    transform: translateX(-10%);
    bottom: -10px;
    
    
   }
   
   .icon {
     display: block;
     fill: #ffffff;
     height: 50px;
     margin: 0 auto;
     width: 50px;
   }
   
   .email {
     float: right;
     width: 45%;
   }
   
   input[type='text'], [type='email'], select, textarea {
     background: none;
     border: none;
     border-bottom: solid 2px #ffffff;
     color: #ffffff;
     font-size: 1.000em;
     font-weight: 400;
     letter-spacing: 1px;
     margin: 0em 0 1.875em 0;
     padding: 0 0 0.875em 0;
     text-transform: uppercase;
     width: 100%;
     -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
     -ms-box-sizing: border-box;
     -o-box-sizing: border-box;
     box-sizing: border-box;
     -webkit-transition: all 0.3s;
     -moz-transition: all 0.3s;
     -ms-transition: all 0.3s;
     -o-transition: all 0.3s;
     transition: all 0.3s;
   }
   
   input[type='text']:focus, [type='email']:focus, textarea:focus {
     outline: none;
     padding: 0 0 0.875em 0;
   }
   
   .message {
     float: none;
   }
   
   .name {
     float: left;
     width: 45%;
   }
   
   select {
     background: url('https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-ios7-arrow-down-32.png') no-repeat right;
     outline: none;
     -moz-appearance: none;
     -webkit-appearance: none;
   }
   
   select::-ms-expand {
     display: none;
   }
   
   .subject {
     width: 100%;
   }

   
   .telephone {
     width: 100%;
   }
   
   textarea {
     line-height: 150%;
     height: 150px;
     resize: none;
     width: 100%;
   }
   
   
   ::-webkit-input-placeholder {
     color: #ffffff;
   }
   
   :-moz-placeholder { 
     color: #994da8;
     opacity: 1;
   }
   
   ::-moz-placeholder {
     color: #0c6cbb;
     opacity: 1;
   }
   
   :-ms-input-placeholder {
     color: #1cc538;
   }
   
   #form_button {
     background: none;
     border: solid 2px #ffffff;
     color: #ffffff;
     cursor: pointer;
     display: inline-block;
     font-family: 'Helvetica', Arial, sans-serif;
     font-size: 0.875em;
     font-weight: bold;
     outline: none;
     padding: 20px 35px;
     text-transform: uppercase;
     -webkit-transition: all 0.3s;
     -moz-transition: all 0.3s;
     -ms-transition: all 0.3s;
     -o-transition: all 0.3s;
     transition: all 0.3s;
   }
   
   #form_button:hover {
     background: #723f77;
     color: #ffffff;
   }
   
   @media screen and (max-width: 768px) {
     #container {
       margin: 20px auto;
       width: 95%;
     }
   }
   
   @media screen and (max-width: 480px) {
     h1 {
       font-size: 26px;
     }
     
     .underline {
       width: 68px;
     }
     
     #form_button {
       padding: 15px 25px;
     }
   }
   
   @media screen and (max-width: 420px) {
     h1 {
       font-size: 18px;
     }
     
     .icon {
       height: 35px;
       width: 35px;
     }
     
     .underline {
       width: 53px;
     }
     
     input[type='text'], [type='email'], select, textarea {
       font-size: 0.875em;
     }
   }
   @import url(http://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.css);
 
 .plans {
   margin: 20px auto;
   width: 660px;
   zoom: 1;
 }
 
 .plans:before, .plans:after {
   content: '';
   display: table;
 }
 
 .plans:after {
   clear: both;
 }
 
 .plan {
   float: left;
   width: 220px;
   margin: 10px 0;
   padding: 20px;
   text-align: center;
   background: #6fd885;
   background-clip: padding-box;
   border: solid #453b5d;
   border-width: 2px 0 2px 2px;
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
   -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
   box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
 }
 
 .plan:first-child {
   border-top-left-radius: 7px;
   border-bottom-left-radius: 7px;
 }
 
 .plan:last-child {
   border-width: 2px;
   border-top-right-radius: 7px;
   border-bottom-right-radius: 7px;
 }
 
 .plan-title {
   position: relative;
   margin: -20px -10px 20px;
   padding: 20px;
   line-height: 1;
   font-size: 16px;
   font-weight: bold;
   color: #595f6b;
   border-bottom: 1px dashed #d2d2d2;
 }
 
 .plan-title:before {
   content: '';
   position: absolute;
   bottom: -1px;
   left: 0;
   right: 0;
   height: 1px;
   background-size: 3px 1px;
   background-image: -webkit-linear-gradient(left, rgb(74, 206, 118), white 33%, #d2d2d2 34%, #d2d2d2);
   background-image: -moz-linear-gradient(left, white, white 33%, #d2d2d2 34%, #d2d2d2);
   background-image: -o-linear-gradient(left, white, white 33%, #d2d2d2 34%, #d2d2d2);
   background-image: linear-gradient(to right, white, white 33%, #d2d2d2 34%, #d2d2d2);
 }
 
 .plan-price {
   margin: 0 auto 20px;
   width: 90px;
   height: 90px;
   line-height: 90px;
   font-size: 19px;
   font-weight: bold;
   color: white;
   background: #595f6b;
   border-radius: 45px;
 }
 
 .plan-price > span {
   font-size: 12px;
   font-weight: normal;
   color: rgba(255, 255, 255, 0.9);
 }
 
 .plan-features {
   margin-bottom: 20px;
   line-height: 2;
   font-size: 12px;
   color: #999;
   text-align: center;
 }
 
 .plan-features > li > strong {
   font-weight: bold;
   color: #888;
 }
 
 
 .plan-tall {
   margin: 0;
   background-color: white;
   border-width: 2px;
   border-radius: 7px;
 }
 
 .plan-tall > .plan-title {
   font-size: 18px;
 }
 
 .plan-tall > .plan-price {
   width: 100px;
   height: 100px;
   line-height: 100px;
   font-size: 21px;
   border-radius: 50px;
 }
 
 .plan-tall > .plan-features {
   font-size: 13px;
 }
 
 .plan-tall > .plan-button {
   padding: 0 16px;
   line-height: 32px;
 }
 
 .plan-tall + .plan {
   border-left: 0;
 }

 

  

 

